*{
  margin: 0px;
  padding: 0px;
  border: none;
  box-sizing: border-box;
}
#timer{
    background-color: #333;
    color: #0f0;
    display: flex;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    display: 40px;
    padding: 10px 20px;
    justify-content: center;
    width: 260px;
    height: 100px;
    border-radius: 10px;
    border: 5px solid #888;

}
p{
   margin-top: 15%;
   margin-left: 40%;
 
}